body {
  background-color: #00427f;
  font-family: Century Gothic, sans-serif;
  margin: 0;
}

.content_pane {
  background-color: rgba(178, 216, 255, 1);
  margin: 35px 0px 35px 0px;
  padding: 25px;
  font-size: 16px;
  line-height: 25px;
}

.content_title {
  font-size: 28px;
  margin-top: 15px;
  text-align: center;
}

.content_button {
  border: 1px solid #0C96CA;
  background-color: #D9EEF6;
  margin: 10px 0px 20px 0px;
  padding: 20px 10px 20px 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.content_button:hover {
  background-color: #0C96CA;
}

.discrete_link {
  color: #000000;
  text-decoration: none;
}

.subpane {
  background-color: #D9EEF6;
  padding: 10px;
  margin-top: 25px;
}

.subpane_title {
  font-size: 115%;
}

table, td {
  border: 1px solid black;
}

td {
  padding: 5px;
  margin: 0px;
}

#title_bar {
  text-align: center;
  margin: 0;
  padding: 25px 0px 25px 0px;
  background: rgb(140,91,255);
  background:    -moz-linear-gradient(left, rgba(140, 91, 255, 1) 0%,
                                            rgba(43, 149, 255, 1) 50%,
                                            rgba(178, 216, 255, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(140, 91, 255, 1) 0%,
                                            rgba(43, 149, 255, 1) 50%,
                                            rgba(178, 216, 255, 1) 100%);
  background:     linear-gradient(to right, rgba(140, 91, 255, 1) 0%,
                                            rgba(43, 149, 255, 1) 50%,
                                            rgba(178, 216, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c5bff',
                                                     endColorstr='#b2d8ff',
                                                     GradientType=1);
}
