a {
  cursor: pointer !important;
}

.discrete-link {
  color: #212529 !important;
}

.discrete-link:hover {
  text-decoration: none !important;
}

#headshotCol {
  max-width: 250px;
}

.project-preview {
  max-width: 200px;
}

.spacer {
  width: 100%;
  height: 56px;
}
